header .headbox {
    display: flex;
    justify-content: space-between;
}

header .nav {
    display: flex;
    align-self: center;
}

.logo {
    margin-left: 30px;
}

.nav1 {
    font-family: 'Ropa Sans';
    font-size: 24px;
    color: #777777;
    margin-right: 50px;
}

.nav2 {
    font-family: 'Ropa Sans';
    font-size: 24px;
    color: #777777;
    margin-right: 50px;
}

.nav3 {
    font-family: 'Ropa Sans';
    font-size: 24px;
    color: #777777;
    margin-right: 40px;
}

main .banner {
    display: flex;
    justify-content: center;
}

main .title {
    display: flex;
    justify-content: center;
    font-family: 'Ropa Sans';
    font-weight: 800;
    font-size: 25px;
    line-height: 82px;
}

main .psbox {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

main .ps1 {
    align-self: center;
}

section .dealsbox {
    background-color: #c2125b;
    display: flex;
    flex-direction: column;
    height: 570px;
    margin-bottom: 100px;

}

section .deals_title {
    display: flex;
    color: white;
    font-family: 'Ropa Sans';
    font-size: 30px;
    align-self: center;
}

section .shoes_line {
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
}

.shoes1_box {
    background-color: white;
}

.shoes2_box {
    background-color: white;
}

.shoes3_box {
    background-color: white;
}

.shoes4_box {
    background-color: white;
}

.text_shoes {
    font-family: 'Ropa Sans';
    text-align: center;
}

.sand_box {
    display: flex;
    justify-content: space-around;
}

.sand_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section .sand_title {
    font-family: 'Ropa Sans';
    font-size: 30px;
}

button {
    font-family: 'Ropa Sans';
    font-size: 40px;
    background-color: #c2125b;
    text-align: center;
    color: white;
    width: 300px;
    height: 80px;
    border: none;
   
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #c2125b;
    height: 250px;
    margin-top: 80px;
}

footer .foot1 {
    display: flex;
    flex-direction: column;
    font-family: 'Ropa Sans';
    color: white;
}

.foot1_logo {
    position: absolute;
}

.foot1_text {
    margin-top: 70px;

}

.categorias {
    font-family: 'Ropa Sans';
    line-height: 5px;
    color: white;
}

.institucional {
    font-family: 'Ropa Sans';
    line-height: 5px;
    color: white;
}

#content {
    margin: 0 auto;
    width: 1280px;
}